@page "/Error"
<h3>Error</h3>

<div class="Container">


   <h1 class="MainTitle">
        An error has occurred !
      </h1>
    <p class="Main Description">
        Le port 22 est bloqué sur votre machine !
    </p>   

</div>

@code {

}
